---
layout: layout.liquid
title: Everyday Carry items 
---

<h1>My Everyday Carry</h1>
<p>Here are the three things I don’t leave home without.</p>
<ul class="item-list">
  <li><a href="/item1/">My Wallet</a></li>
  <li><a href="/item2/">My Keys</a></li>
  <li><a href="/item3/">My Water Bottle</a></li>
</ul>
<div class="item-previews">
  <figure class="img-card">
    <img src="/images/wallet.jpg" alt="Wallet"/>
    <figcaption>My essential wallet</figcaption>
  </figure>
  <figure class="img-card">
    <img src="/images/keys.jpg" alt="Keys"/>
    <figcaption>Keys I carry every day</figcaption>
  </figure>
  <figure class="img-card">
    <img src="/images/bottle.jpg" alt="Water Bottle"/>
    <figcaption>Reusable water bottle</figcaption>
  </figure>
</div>
