---
layout: layout.liquid
title: Everyday Carry items 
---

<h1>My Everyday Carry</h1>
<p>Here are the three things I don’t leave home without.</p>
<ul class="item-list">
  <li><a href="/item1/">My Water Bottle</a></li>
  <li><a href="/item2/">My Keys</a></li>
  <li><a href="/item3/">My Wallet</a></li>
</ul>
