---
layout: layout.liquid
title: Keys
---

<div class="item-page-content">
  {% itemImage "/images/keys.jpg", "Keys" %}

  <div class="item-text">
    <h2>Keys</h2>
    <p>
      I carry my keys every time I step out of the house because I need them to get back into my apartment, and I also like using them as an accessory to complement my outfits.
    </p>
  </div>
</div>
