---
layout: layout.liquid
title: Water Bottle
---

<div class="item-page-content">
  {% itemImage "/images/bottle.jpg", "Water Bottle" %}

  <div class="item-text">
    <h2>Water Bottle</h2>
    <p>
      I carry this Spiderman themed water bottle every day with me to make sure I get my daily water intake and because it is a gift from my lovely girlfriend.
    </p>
  </div>
</div>
