---
layout: layout.liquid
title: Wallet
---

<div class="item-page-content">
  {% itemImage "/images/wallet.jpg", "Wallet" %}

  <div class="item-text">
    <h2>Wallet</h2>
    <p>
      I carry my wallet because it holds all of my cards (though mostly useless because I am a broke college student), my driver's license, my student ID, and any cash or change I might need in case of emergencies.
    </p>
  </div>
</div>
